<article class= "article {{ include.namespace }}-article"> 
    <a class= "button close-button article-close-button {{ include.namespace }}-close-button" href= "#{{ include.namespace }}-entry" > 
        <span class= "button-text">Close</span>
    </a> 

    <header class= "article-header {{ include.namespace }}-header"> 
        <div class= "image-holder article-image-holder"> 
            {% if include.image  %}
                {% include image.liquid 
                    namespace = "article-header"
                    src = include.image 
                %} 
            {% endif %}
        </div>

        {% include heading.liquid 
            level = 4 
            text = include.heading 
        %} 

        {{ include.header_complementary }} 
    </header> 

    <div class= "article-body {{ include.namespace }}-body"> 
        {% assign lead_section = include.body[ 0 ] %} 

        {% if lead_section.heading == nil or lead_section.heading == "" %} 
            {% assign lead_paragraph = include.body[ 0 ].text[ 0 ].paragraph %} 
            {% assign heading = lead_paragraph | truncatewords: 5, "" %} 
            {% assign lead_paragraph = lead_paragraph | remove_first: heading %} 

            {% include heading.liquid 
                level = 5 
                text = heading 
            %} 

            <p class= "paragraph article-paragraph">{{ lead_paragraph}}</p> 
            {% for p in lead_section.text %} 
                {% if forloop.first %} 
                    {% continue %} 
                {% endif %} 

                <p class= "paragraph article-paragraph">{{ p.paragraph }}</p> 
            {% endfor %}
        {% endif %} 

        {% for section in include.body %} 
            {% if lead_section.heading == nil or lead_section.heading == "" and forloop.first %} 
                {% continue %} 
            {% endif %} 

            {% include heading.liquid 
                level = 5 
                text = section.heading 
            %} 

            {% for p in section.text %} 
                <p class= "paragraph article-paragraph {{ include.namespace }}-paragraph">{{ p.paragraph }}</p> 
            {% endfor %}
            
        {% endfor %}
    </div> 

    {% if include.footer %}
        <footer class= "article-footer {{ include.namespace }}-footer">  
            {{ include.footer }}
        </footer> 
    {% endif %}
</article> 
