{% assign entry_level = include.level | plus: 1 %}

{% include heading.liquid 
    level = include.level 
    text = include.heading 
    namespace = include.namespace 
%} 

{% if include.subheading %}
    {% include subheading.liquid 
        text = include.subheading 
        namespace = include.namespace 
    %} 
{% endif %}

{% include text.liquid 
    text = include.text 
    namespace = include.namespace 
%} 

{% capture entry_list %} 
    {% assign entry_id_string = "" %}  
    
    <ul class= "entry-list-controllable {{ include.namespace }}-list"> 
    {% for entry in include.entry_list %} 
        {% assign entry_id = entry[ include.as_entry_id ] | downcase | split: " " | join: "-" %}  

        <li class= "entry {{ include.namespace }}-entry" id= "{{ entry_id }}"> 
            {% include {{ include.entry_template }} 
                level = entry_level 
                data = entry 
                namespace = include.namespace 
            %}
        </li> 

        {% assign entry_id_string = entry_id_string | append: "; " | append: entry_id  %} 
    {% endfor %}
    </ul> 
{% endcapture %}

{% assign entry_id_list = entry_id_string | remove_first: "; " | split: "; " %} 
{% include control-list.liquid 
    id_list = entry_id_list 
    level = entry_level 
    block_list = include.control_entry_list 
    block_template = include.control_entry_template 
    text_list = include.control_text_list 
%} 

{{ entry_list }} 
