{% assign entry = include.data %} 
{% assign article_date = entry.date | date: "%b %d %Y" | split: " " %} 
<div class= "news-entry" id= "news-entry-id-{{ entry.id }}">
    <div class= "news-block">
        <footer class= "date news-date">
            <span class= "month news-month">{{ article_date[ 0 ] }}</span> 
            <span class= "day news-day">{{ article_date[ 1 ] }}</span> 
            <span class= "year news-year">{{ article_date[ 2 ] }}</span> 
        </footer> 

        {% assign excerpt = entry.sections[ 0 ].text[ 0 ].paragraph | truncatewords: 20, "..." %}
        {% assign heading = excerpt | truncatewords: 4, "" %} 
        {% assign text = excerpt | replace_first: heading, ""  %} 

        {% include heading.liquid 
            level = include.level 
            text = heading 
        %} 

        <p class= "news-entry-text">{{ text }}</p> 

        <a class= "link read-more-button news-read-more-button" href= "#news-article-id-{{ entry.id }}">Повече</a> 
    </div> 

    <div class= "article-holder" id= "news-article-id-{{ entry.id }}"> 
        {% include news-article.liquid 
            news_article = entry 
        %}
    </div> 
</div> 
