{% assign priority = include.data %}
{% assign entry_id = "priority-entry-id-" | append: priority.id %} 

<div class= "priority-entry" id= "priority-entry-id-{{ priority.id }}">
    <div class= "priorities-block"> 

        {% include image.liquid 
            src = priority.image 
        %} 

        {% if priority.heading == nil or priority.heading == "" %} 
            {% assign heading = priority.paragraph | truncatewords: 3, "" %}  
        {% else %}
            {% assign heading = priority.heading %} 
        {% endif %}
        {% include heading.liquid 
            level = include.level 
            text = heading 
        %} 
        
        <!-- {% if include.data.text  %} 
            {% assign text = include.data.text  %} 
        {% else %}
            {% assign text = include.data.body[ 0 ].text[ 0 ]  %} 
        {% endif %} -->

        {% assign text = priority.paragraph | replace_first: heading, "" %} 
        <p class= "priority-text">{{ text }}</p> 

        <!-- <a class= "link read-more-button" href= "#priority-article-id-{{ priority.id }}">Повече</a>  --> 
    </div> 

    <!-- <div class= "article-holder" id= "priority-article-id-{{ priority.id }}" style= "--entry-id: '{{ priority.id }}';"> 
        {% include article.liquid 
            namespace = "priority" 
            entry_id = priority.id 
            heading = priority.heading 
            image = priority.image 
            body = priority.body 
        %}  
    </div>  -->
</div>
