{% assign review = include.data %} 
{% assign preview = review.sections[ 0 ].text[ 0 ].paragraph | truncatewords: 20, '...' %} 
{% assign heading = preview | truncatewords: 5, "" %} 
{% assign preview = preview | remove_first: heading %} 

<div class= "review"> 
    <div class= "figure review-figure"></div> 

    <div class= "text-content review-text-content"> 
        <article class= "person review-person"> 
            <div class= "entry person-entry person-photo review-person-photo">
                <span class= "key">Photo</span> 

                {% if review.author.photo %}
                    {% include image.liquid 
                        src = review.author.photo 
                    %} 
                {% endif %}
            </div> 

            <div class= "text-content review-person-text-content"> 
                <div class= "entry person-entry person-name review-person-name">
                    <span class= "key">Name</span> 

                    {{ review.author.name }}
                </div> 

                <div class= "entry person-entry person-occupation review-person-occupation">
                    <span class= "key">Occupation</span> 

                    {{ review.author.occupation }} 
                </div> 
            </div>
        </article> 

        <h4 class= "heading review-heading">{{ heading }}</h4> 

        <p class= "paragraph review-paragraph">{{ preview }}</p> 

        <a class= "link read-more-button review-link" href= "#review-id-{{ review.id }}">Повече</a> 
    </div>
</div> 

<div class= "article-holder" id= "review-id-{{ review.id }}"> 
    {% include article.liquid 
        namespace = "review" 
        entry_id = review.id 
        heading = review.author.name 
        image = review.author.photo 
        body = review.sections 
    %}  
</div> 
